/* styles for all document  */
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400&subset=cyrillic-ext');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Open Sans, sans-serif;
	outline: none;
}

html, body, header, section, footer, #wrapper{
	width: 100%;
	height: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease-out;
}

div {
	display: block;
}

a {
	text-decoration: none;
	display: inline-block; /* !important */
}

h1 {
	font-size: 36px;
	color: white;
	font-weight: 700;
}

.clear {
	clear: both;
}

.upper {
	text-transform: uppercase;
}

.aligner{
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.none {
	display: none;
}
/* <---  ---> */

/* ---- particles.js container ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #101010;
}

/* <---  ---> */

/* header */

header {
	height: 100%;
	width: 100%;
}

.header {
	width: 100%;
	height: 65px;
	position: relative;
	border-bottom: 1px solid white;
}

.mobilemenu {
	display: none;
	visibility: hidden;
	position: relative;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 1;
}

.fa-bars {
	color: white;
	display: none;
	margin-bottom: 8px;
}

.fa-vk, .fa-instagram, .fa-facebook-official {
	color: white;
	margin-right: 7px;
	font-size: 18px;
}

.head-menu {
	display: flex;
	width: 1024px;
	margin: 0 auto;
	height: 50px;
	justify-content: center;
}

.left-menu {
	width: 33%;
	color: white;
}

.left-menu > ul {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.left-menu a:hover {
	color: #F2F2F2;
	transition: all 0.2s ease-in;
}

li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.logo {
	margin-top: 5px;
	width: 33%;
}

.logo-img {
	margin: 0 auto;
	width: 130px;
	height: 45px;
	margin-top: 7px;
}

.social{
	width: 33%;
	color: white;
	justify-content: flex-end;
}

.social > ul {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.social span {
	font-weight: 700;
}

.name > h1 {
	margin-top: 20vh;
	font-size: 110px;
	font-weight: 600;
	color: white;
	position: relative;
}

.profill {
	margin-top: 7px;
	font-size: 18px;
	color: white;
	position: relative;
}

button {
	border: 1px solid white;
	margin-top: 35px;
	padding: 17px 50px;
	background-color: rgba(0, 0, 0, 0);
    transition: all 0.1s ease-in;
    position: relative;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
}

button:hover {
	background-color: rgba(255, 255, 255, 255);;
	border: none;
	color: #000;
	position: relative;
}

/* <---  ---> */

/* section description */

#description {
	height: 20%;
}

.descrip {
	margin: 0 auto;
	width: 60%;
	padding-top: 40px;
	font-size: 15px;
}

.descrip > p {
	margin: 0 auto;
	text-align: center;
}

/* <---  ---> */

/* section skill */

#skill {
	height: 50%;
	background: #E8E8E8;
}

.content {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	height: 70%;
}

.con-skill{
	width: 33%;
	color: #443e3d;
}

.con-skill > h3 {
	padding: 30px 0 15px 0;
	font-size: 19px;
}

.con-skill > p {
	font-size: 14px;
}

/* <---  ---> */

/* section content */

#content {
	background: url(../img/wer.jpg) no-repeat center center / cover fixed;
	height: 100%;
}

.container > h1 {
	padding: 65px 0 75px 0;
}

.work {
	display: flex;
	justify-content: space-between;
}

.info {
	background-color: rgba(153, 153, 153, 0.5);
	width: 30%;
	min-height: 350px;
	border: 2px solid #EAE74F;
	position: relative;
}

.number {
	width: 50px;
	height: 50px;
	background: #383838;
	border: 2px solid #EAE74F;
	color: white;
	border-radius: 30px;
	position: absolute;
	top: -26px;
	right: 130px;
}

.number > h2 {
	font-size: 30px;
	font-weight: 700;
}

.info > h3 {
	padding-top: 45px;
	padding-left: 70px;
	padding-right: 70px; 
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.info > p {
	padding: 25px 25px;
	color: white;
	font-size: 15px;
	text-align: center;
}

/* <---  ---> */

/* section our */

#our {
	height: 100%; 
}

.container > h2 {
	color: black;
	padding: 45px 0 95px 0;
	font-weight: 700;
	font-size: 36px;
}

.screen_foto {
	display: inline-flex;
	width: 100%;
	padding-top: 20px;
}

/* animation */

.screen {
	transition: all 0.3s ease-out;
	width: 650px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.screen a {
	display: block;
	color: white;
	text-decoration: none;
}

.screen a img {
	width: 100%;
}

.text {
	position: absolute;
	top: 0;
	left: 0;
	padding: 110px 210px;
	opacity: 0;
	z-index: 100;
}

.text > h3 {
	font-size: 25px;
}

.text > p {
	font-size: 14px;
}

.screen a:before {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	transition: 0.5s ease-in-out;
}

.screen a:before {
	right: -50%;
	bottom: 0%;
	background: rgba(28, 28, 28, 0.8);
	opacity: 0;
	z-index: 100;
}

.screen:hover a:before {
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	opacity: 1;
}

.screen:hover .text {
	opacity: 1;
}

.screen:hover a img:before {
	transform: scale(1.1);
}

/* <---  ---> */

/* communication */

#send-result {
	color: #FF0000;
	font-size: 13px;
	font-weight: 700;
	width: 100%;
	font-family: 'Comfortaa';
}

#communication {
	background: #E8E8E8;
	height: 100%;
}

.phone_email > h2 {
	text-align: left;
	font-weight: bold;
	width: 100%;
	font-size: 30px;
	color: #3D3D3D;
	margin-bottom: 20px;
}

.message {
	padding-top: 170px;
	display: flex;
	justify-content: space-between;
}

.phone_email { 
	width: 100%;
	color: white;
	font-family: 'Comfortaa';
}

.call {
	display: inline-block;
}

.call > img{
	width: 5%;
	height: 5%;
	margin: 30px 0;
}

.write {
	color: #3D3D3D;
	font-family: 'Comfortaa';
}

.call > p {
	display: inline-block;
	transform: translate(10%, -65%);
	font-size: 14px;
	margin-top: -15px;
	color: #3D3D3D;
	font-weight: 600;
	font-family: 'Comfortaa';
}

.mail {
	display: inline-block;
}

.mail > img{
	width: 5%;
	height: 5%;
	margin: 30px 0;
}

.mail > p {
	transform: translate(10%, -300%);
	font-size: 14px;
	color: #3D3D3D;
	font-weight: 600;
	font-family: 'Comfortaa';
}

.sending {
	width: 100%;
}

.form {
	width: 100%;
}

.names, .email {
	width: 100%;
	height: 55px;
	background-color: white;
	border: none;
	margin: 15px 0;
	padding: 0 8px;
	color: #3D3D3D;
	font-family: 'Comfortaa';
}

.names::placeholder {
	color: #3D3D3D;
}

.email::placeholder {
	color: #3D3D3D;
}

#textarea {
	width: 100%;
	height: 80px;
	margin: 5px 0;
	background-color: white;
	color: #3D3D3D;
	border: none;
	padding: 15px 8px;
	resize: none;
	font-family: 'Comfortaa';
}

#textarea::placeholder {
	color: #3D3D3D;
}

.files {
	width: 50%;
	height: 35px;
	background-color: rgba(56, 63, 63, 0.60);
	border: none;
	margin: 15px 0;
	padding: 0 8px;
	color: white;
	font-family: 'Comfortaa';
}

.submit {
	width: 50%;
	height: 64px;
	border-radius: 50px;
	background-color: white;
	border: 1px solid #C2C2C2;
	color: #3D3D3D;
	font-weight: 500;
	outline: none;
	font-family: 'Comfortaa';
}

.submit:active {
	background: #626262;
	color: white;
	border: none;
}
.message{
	
}

/* <---  ---> */

/* footer */

footer {
	height: 25px;
	background-color: white;
}
.date  {
	margin: 0 auto;
	height: 20px;
	width: 350px;
}

/* <---  ---> */