/* styles for all document  */
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500&subset=cyrillic-ext');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Open Sans, sans-serif;
	outline: none;
}

html, body, header, section, #wrapper{
	width: 100%;
	height: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

div {
	display: block;
}

a {
	text-decoration: none;
	display: inline-block;    /* !important */
}

h1 {
	font-size: 36px;
	color: white;
	font-weight: 700;
}

.clear {
	clear: both;
}

.upper {
	text-transform: uppercase;
}

.aligner{
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.none {
	display: none;
}

#p_prldr{
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: #000;
	z-index: 1500;
	height: 100%;
	width: 100%;
}
 
.cssload-loader {
	width: 438px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	position: absolute;
	left: 50%;
	top:48%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:32px;
	color: rgb(255,255,255);
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 26px;
	height: 26px;
	background: rgb(255,255,255);
	position: absolute;
	animation: cssload-load 1.33s infinite alternate ease-in-out;
		-o-animation: cssload-load 1.33s infinite alternate ease-in-out;
		-ms-animation: cssload-load 1.33s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 1.33s infinite alternate ease-in-out;
		-moz-animation: cssload-load 1.33s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 53px;
		width: 26px;
	}
	50% {
		height: 14px;
		width: 70px;
	}
	100% {
		left: 411px;
		height: 53px;
		width: 26px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 53px;
		width: 26px;
	}
	50% {
		height: 14px;
		width: 70px;
	}
	100% {
		left: 411px;
		height: 53px;
		width: 26px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 53px;
		width: 26px;
	}
	50% {
		height: 14px;
		width: 70px;
	}
	100% {
		left: 411px;
		height: 53px;
		width: 26px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 53px;
		width: 26px;
	}
	50% {
		height: 14px;
		width: 70px;
	}
	100% {
		left: 411px;
		height: 53px;
		width: 26px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 53px;
		width: 26px;
	}
	50% {
		height: 14px;
		width: 70px;
	}
	100% {
		left: 411px;
		height: 53px;
		width: 26px;
	}
}
/* <---  ---> */

/* ---- particles.js container ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#010103;
}

/* <---  ---> */

/* header */

header {
	height: 100%;
	width: 100%;
}

.header {
	width: 100%;
	height: 65px;
	position: relative;
	border-bottom: 1px solid white;
}

.mobilemenu {
	display: none;
	visibility: hidden;
	position: relative;
}

.small-menu {
	display: none;
	visibility: hidden;
}

.fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

.fa-bars {
	color: white;
	display: none;
	margin-bottom: 28px;
}

.head-menu {
	display: -webkit-box;
    display: -moz-box;  
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex; 
	width: 1024px;
	margin: 0 auto;
	height: 50px;
	justify-content: center;
}

.left-menu {
	width: 33%;
	color: white;
}

.left-menu > ul {
	display: -webkit-box;
    display: -moz-box;  
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 20px;
}

.left-menu a:hover {
	color: #F2F2F2;
	transition: all 0.2s ease-in;
}

li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.logo {
	margin-top: 5px;
	width: 33%;
}

.logo-img {
	margin: 0 auto;
	width: 130px;
	height: 45px;
	margin-top: 7px;
}

.social {
	width: 33%;
	color: white;
	justify-content: flex-end;
}

.social > ul {
	display: -webkit-box;
    display: -moz-box;  
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 20px;
}

.social span {
	padding-left: 20px;
	font-weight: 700;
}
.social li {
	position: relative;
	width: 30%;
}
.social ul li img {
	margin:0px 0px 0px -4px;
	position: absolute;
}

.social ul li:last-child img {
	margin:-1px 0px 0px -4px;
}

.name > h1 {
	font-size: 110px;
	font-weight: 700;
	color: white;
	position: relative;
}

.profill {
	font-size: 18px;
	color: white;
	position: relative;
	transform: translate(0%, -20%);
}

button {
	border: 1px solid white;
	margin-top: 35px;
	padding: 17px 50px;
	background-color: rgba(0, 0, 0, 0);
    transition: all 0.1s ease-in;
    position: relative;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
}

button:hover {
	background-color: rgba(255, 255, 255, 255);
	border: none;
	color: #000;
	position: relative;
}

.mainTitle {
	width: 400px;
	height: 1px;
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 290px;
}

/* <---  ---> */

/* section description */

#description {
	height: 20%;
}

.descrip {
	margin: 0 auto;
	width: 60%;
	font-size: 15px;
}

.descrip > p {
	margin: 0 auto;
	text-align: center;
}

/* <---  ---> */

/* section skill */

#skill {
	height: 50%;
	background: #E8E8E8;
}

.content {
	display: -webkit-box;
    display: -moz-box;  
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 60px;
	height: 70%;
}

.con-skill{
	width: 33%;
	color: #443e3d;
}

.con-skill > h3 {
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}

.con-skill > p {
	font-size: 13px;
	padding: 0 10px 0 10px;
}

/* <---  ---> */

/* section content */

#content {
	background: url(../img/wer.jpg) no-repeat center center / cover fixed;
	height: 100%;
}

.container > h1 {
	padding: 65px 0 75px 0;
}

.work {
	display: -webkit-box;
    display: -moz-box;  
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
	justify-content: center;
}

.info {
	background-color: rgba(153, 153, 153, 0.2);
	width: 26%;
	min-height: 335px;
	border: 2px solid #EAE74F;
	position: relative;
}

.number {
	width: 50px;
	height: 50px;
	background: #383838;
	border: 2px solid #EAE74F;
	color: white;
	border-radius: 30px;
	position: absolute;
	top: -26px;
	right: 115px;
}

.number > h2 {
	font-size: 30px;
	font-weight: 700;
}

.info > h3 {
	padding-top: 38px;
	padding-left: 30px;
	padding-right: 30px; 
	color: white;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	font-weight: 700;
}

.info > p {
	padding: 15px 20px;
	color: white;
	font-size: 14px;
	text-align: center;
}

.secH {
	margin-top: 15px;
}
	
.secP {
	margin-top: 7px;
}

.secM {
	margin: 0 40px;
}


/* <---  ---> */

/* section our */

#our {
	height: 100%; 
}

.container > h2 {
	color: black;
	padding: 45px 0 95px 0;
	font-weight: 700;
	font-size: 36px;
}

.screen_foto {
    display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

/* animation */

.screen_0 {
	transition: all 0.3s ease-out;
	width: 49%;
	height: 50vh;
	position: relative;
	overflow: hidden;
}

.screen_1 {
	transition: all 0.3s ease-out;
	width: 49%;
	height: 50vh;
	position: relative;
	overflow: hidden;
}

.foto  a {
	display: block;
	color: white;
	text-decoration: none;
}

.foto a img {
	width: 100%;
}

.text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 110px 170px;
	opacity: 0;
	z-index: 100;
}

.text > h3 {
	font-size: 28px;
	font-weight: 700;
	
}

.text > p {
	font-size: 14px;
	font-weight: 300;
}

.foto a:before {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	transition: 0.5s ease-in-out;
}

.foto a:before {
	right: -50%;
	bottom: 0%;
	background: rgba(28, 28, 28, 0.9);
	opacity: 0;
	z-index: 100;
}

.foto:hover a:before {
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	opacity: 1;
}

.foto:hover .text {
	opacity: 1;
}

.foto:hover .hover_zum img {
	transform: scale(1.1);
	-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

/* <---  ---> */

/* communication */

#send-result {
	color: #FF0000;
	font-size: 13px;
	font-weight: 700;
	width: 100%;
	font-family: 'Comfortaa';
}

#communication {
	background: #E8E8E8;
	height: 100%;
}

.phone_email > h2 {
	text-align: left;
	font-weight: 700;
	width: 100%;
	font-size: 30px;
	color: #3D3D3D;
	margin-bottom: 50px;
}

.message {
	padding-top: 170px;
	display: -webkit-box;
    display: -moz-box;  
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;

}

.phone_email { 
	width: 100%;
	color: white;
	font-family: 'Comfortaa';
}

.call {
	display: inline-block;
}

.call > img{
	width: 7%;
	height: 7%;
	margin: 20px 0 40px 0;
}

.write {
	color: #3D3D3D;
	font-family: 'Comfortaa';
	font-size: 15px;
	font-weight: 500;
}

.call > p {
	display: inline-block;
	transform: translate(10%, -120%);
	font-size: 14px;
	margin-top: -15px;
	color: #3D3D3D;
	font-weight: 500;
	font-family: 'Comfortaa';
}

.mail {
	display: inline-block;
}

.mail > img{
	width: 7%;
	height: 7%;
	margin: 15px 0;
}

.mail > p {
	transform: translate(10%, -303%);
	font-size: 14px;
	color: #3D3D3D;
	font-weight: 500;
	font-family: 'Comfortaa';
}

.sending {
	width: 100%;
}

.form {
	width: 100%;
}

.names, .email {
	width: 100%;
	height: 55px;
	background-color: white;
	border: none;
	margin: 15px 0;
	padding: 0 18px;
	color: #3D3D3D;
	font-family: 'Comfortaa';
}

.names::placeholder {
	color: #3D3D3D;
}

.email::placeholder {
	color: #3D3D3D;
}

#textarea {
	width: 100%;
	height: 80px;
	margin: 5px 0;
	background-color: white;
	color: #3D3D3D;
	border: none;
	padding: 15px 18px;
	resize: none;
	font-family: 'Comfortaa';
}

#textarea::placeholder {
	color: #3D3D3D;
}

.files {
	width: 40%;
	height: 35px;
	background-color: rgba(56, 63, 63, 0.60);
	border: none;
	margin: 15px 0;
	padding: 0 8px;
	color: white;
	font-family: 'Comfortaa';
}

.submit {
	width: 50%;
	height: 49px;
	border-radius: 50px;
	background-color: white;
	border: 1px solid #C2C2C2;
	color: #3D3D3D;
	font-weight: 500;
	outline: none;
	font-family: 'Comfortaa';
}

.submit:active {
	background: #626262;
	color: white;
	border: none;
}

/* <---  ---> */

/* footer */

footer {
	height: 5vh;
	background-color: white;
}
.date  {
	margin: 0 auto;
	height: 20px;
	width: 350px;
	padding-top: 1px;
	font-size: 13px;
}

/* <---  ---> */
